RewriteEngine On
RewriteBase /
RewriteRule trang-chu.html index.php  
RewriteRule dm/(.*)-([0-9]*) cat.php?id=$2
RewriteRule ct/(.*)-([0-9]*).html detail.php?id=$2
RewriteRule ct/(.*)-([0-9]*).html dm/detail.php?id=$2
RewriteRule ^dmuc/(.*)-([0-9]+)/page/([0-9]+) /cat.php?id=$2&page=$3

RewriteRule trang-chu.html?page=([0-9]*) index.php?page=$3